#main{
    display: flex;
    width: 100%;
 }
#image{
    width: 100%;
    height: 56%;
    text-align: center;
    padding-left: 2%;
    border: 1px solid #afb5b7;
    border-radius: 1%;
    margin-left: 350px;
   
}
#pricedaba{
    border: 1px solid #afb5b7;
    width: 50%;
    height: 180px;
    border-radius: 1.5%;
    margin-left: 220px;
  
}
#sellerdaba{
    border: 1px solid #afb5b7;
    width: 50%;
    height: 266px;
    border-radius: 1.5%;
    margin-left: 220px;
    margin-top: 10px;
}
#disc{
    width: 61%;
    padding-left: 2%;
    border: 1px solid #afb5b7;
    border-radius: 4px;
    margin-left: 349px;
    margin-right: 157px;
    margin-top: -320px;
    margin-bottom: 20px;
}


.setMargin{
    margin-left: 4%;
}
@media all and (max-width:1000px) 
{
    #main{
        display: block;
    }
    #image{
        min-width: initial;
        max-width: initial;
        min-height: initial;
        max-height: initial;
        width: 100%;
        height:"auto";
        padding-left: 2%;
        border:1px solid skyblue;
        border-radius: 1%;
    }
    #disc{
        width: 95%;
        border:1px solid grey;
        border-radius: 1%;
        padding-left: 0%;
    }
    #pricedaba{
        border: 1px solid black;
        width: 100%;
        height: 150px;
        border-radius: 1.5%;
        margin-left: 0px;
    }
    .setMargin{
        margin-left: 20px;
    }
}
@media all and (max-width:1000px) 
{
    #main{
        display: block;
    }
    #image{
        min-width: initial;
        max-width: initial;
        min-height: initial;
        max-height: initial;
        width: 100%;
        height:"auto";
        padding-left: 2%;
        border:1px solid skyblue;
        border-radius: 1%;
    }
    #disc{
        width: 100%;
        border:1px solid grey;
        border-radius: 1%;
        padding-left: 0%;
    }
    #sellerdaba{
        border: 1px solid black;
        width: 100%;
        height: auto;
        margin-top: 20px;
        border-radius: 1.5%;
        margin-left: 0px;
    }
    .setMargin{
        margin-left: 20px;
    }
}

