.navbar{
    text-align: center;
    
    background-color: cornflowerblue !important;
}

.header-class{
    margin-left: 300px;
}

.input{
    
    width: 300px;
}

.bg-light{

    background-color: cornflowerblue !important;
}


.btn-lg{
    padding: 0.5rem 32px;
    font-size: 19px;
    line-height: 1.5;
    border-radius: 16px 16px 16px 16px;
  

}


@media all and (max-width:1000px){
    .header-class{
        margin-left: 150px;
    }
}



@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
